<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="templates/typography.css">
    <title>Page Report for: {{ url }}</title>
</head>
<body>
    <h1>Page Report for: {{ url }}</h1>
    <h2>Page Summary</h2>
    </ul>
    <ul>
     <li>Page title: "{{ title }}" </li>
     <li>File size: {{ page_size_kb }} KB</li>
     <li>Number of meta tags: {{ tag_count }}</li>
    </ul>
     <div class="container">
        <table>
        <tr>
            <th>Keywords not in page content</th>
        </tr>
        {% for miss in missing_keywords %}
        <tr><td>{{ miss }}</td></tr>
        {% endfor %}
        </table>
     </div>
    <h2>Page Language</h2>
    <ul>
     <li>Word count: {{ word_count }}</li>
     <li>Number of unique words: {{ unique_word_count }}</li>
     <div class="container">
        <table>
        <tr>
            <th>most popular words</th>
            <th>number of appearances</th>
        </tr>
        {% for word in ranked_words %}
        <tr>
            <td>{{ word }}</td>
            <td> {{ unique_words[word] }} </td>
        </tr>
        {% endfor %}
        </table>
     </div>
    <h2>Links</h2>
     <div class="container">
        <table>
        <tr>
            <th>link destination</th>
            <th>link text</th>
        </tr>
        {% for link in links %}
        <tr>
            <td>{{ link['href'] }}</td>
            <td> {{ link['text'] }} </td>
        </tr>
        {% endfor %}
        </table>
     </div>
</body>
</html>